body {
	background-color: #000;
	color: #eee;
}
/*.demo-container {
	z-index: 1;
	position: absolute;
	top:50px;
	left:50px;
}*/
.overlay {
	z-index: 1001;
	border: 2px dotted #ccc;
	width: 180px;

/*	width: 220px;
    height: 330px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    border-radius: 10px;

    /*position: absolute; 
    top: 50px;
    left: 50px;*/
}
canvas {
	z-index: 999;
}
video {
	z-index: -1;
}

#wrapper {
	margin: 0 auto;
	display: block;
	position: relative;
}
#output {
  position: relative;
  width: 180px;
}
#droppable {
	width: 200px;
	height: 180px;
	border: #eee solid 2px;
	z-index: 0;
}
#overlays {
	border: #fff solid 1px;

}
/*#draggable {
	z-index: 0;
}*/




