
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #eee;
}
nav {
  text-align: center;
}



.demo-container {
  /*width: 100%;
  height: 530px;
  position: relative;
  background: #eee;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;*/

/*  width: 100%;*/
/*  background-color: #eee;*/
  position: relative;
  border: #000 solid 1px;
  width: 100%;
  height: 100%;
}

.dg.ac {
  z-index: 100 !important;
  top: 50px !important;
}


div#stats {
	display: none;
	visibility: hidden;
}







/*.demo-container {
	z-index: 1;
	position: absolute;
	top:50px;
	left:50px;
}*/
.overlay {
	z-index: 1001;
	border: 2px dotted #ccc;
	width: 180px;

/*	width: 220px;
    height: 330px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    border-radius: 10px;

    /*position: absolute; 
    top: 50px;
    left: 50px;*/
}
#wrapper {
	margin: 0 auto;
	display: block;
	position: relative;
}
#output {
  position: relative;
  width: 180px;
}
#droppable {
	width: 200px;
	height: 180px;
	border: #eee solid 2px;
	z-index: 0;
}

/*#draggable {
	z-index: 0;
}*/
video, #canvas {
    margin-left: 0px;
    position: absolute;
}

#sandbox {
  position: relative;
  border: transparent solid 1px;
  width: 100%;
  height: 100%;
}


/*----- FOR STATIC IMAGE FACE DETECTION FUNCTIONALITY ------*/
.rect {
    border: 2px solid #a64ceb;
    left: -1000px;
    position: absolute;
    top: -1000px;
  }

  /*#img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -173px 0 0 -300px;
  }*/


