@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,900);

body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #eee;
  font-family: 'Lato';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato';
  color: #ccc;
}
nav {
  text-align: center;
}
section {
  padding-bottom: 70px;
}
button, button:visited, button:active, button:focus, button:target, .button, .button:visited, .button:active, .button:focus, .button:target {
  padding: 10px 15px 12px 15px;
  font-size: .9em;
  font-family: 'Lato';
  background-color: #0099ff;
  outline:none;
  min-width: 70px;
}
button:hover, .button:hover {
  background-color: #0066cc;
  outline: none;
}
p {
  font-size: .9em;
  color: #666;
}
input {
  color:#666;
}
footer p {
  color: #ccc;
  padding: 0 0 0 15px;
  font-size: .7em;
}
footer p a {
  color: #666;
}
.dg.ac {
/*  z-index: 100 !important;
  top: 50px !important;*/
  visibility: hidden;
}
#stats {
	display: none;
	visibility: hidden;
}
#wrapper {
	margin: 0;
	display: block;
	position: relative;
}
#output {
  position: relative;
  width: 180px;
}
#droppable {
/*	width: 200px;
	height: 180px;*/
	border: #eee solid 2px;
	z-index: 0;
}
video, #canvas {
    margin-left: 0px;
    position: absolute;
}
.status {
  font-size: 2em;
  color:#0099ff;
}
.status-face, .status-not-face {
  color: transparent;
  display: none;
  visibility: hidden;
}
p.description {
  font-size: 1.6em;
  padding: 0;
  line-height: .9em;
  color:#000;
}
.centered {
  text-align: center;
}
.grey {
  background-color: #eee;
  padding: 30px 0 20px 0;
  margin-top: 40px;
}
#take-picture-button {
  display:block;
}
.static-image-frame {
  padding-bottom: 30px;
}
.number-icon {
  width: 30px;
  padding-bottom: 15px;
}
.tips p {
  font-size: .6em;
}
#go-to-more p {
  color: #999;
}
.papayawhip {
  background-color: papayawhip;
}
#accordion div, #accordion h5{
  border:none;
}

/*----- FOR STATIC IMAGE FACE DETECTION FUNCTIONALITY ------*/
.rect {
    border: 2px solid #a64ceb;
    left: -1000px;
    position: absolute;
    top: -1000px;
  }

  /*#img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -173px 0 0 -300px;
  }*/


